.boton{
    color: rgb(142, 60, 60);
    background-color: #F1F1F1;
    padding: 10px;
    font-style: italic;
    border: 1px solid black;
    cursor: pointer;
}

.boton:hover{
    background-color: blue;
}